
	</div>
<main>
	<div class="post">
		
		<img src="imgs/sport.jpg" alt="Sport">

		<div class="category">
			<a href="#" class="sports">Sports</a>
		</div>

		<h2>Title of the post</h2>

		<div class="info_line">
			<span class="date">3 February 2015</span>
			<span>by</span>
			<span class="author">
				<a href="#" rel="author"> Anonymous</a>
			</span>
			<span>in</span>
			<span class="category_name">
				<a href="#" rel="category_name"> Sports</a>
			</span>
		</div>
		
		<div class="content">
			<p>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut</p>
		</div>

		<div class="btns">
			<a href="" class="more">MORE</a>
			<a href="" class="share">SHARE</a>
		</div>

	</div>

	<div class="post">
		
		<img src="imgs/44.jpg" alt="Friends">

		<div class="category">
			<a href="#" class="trip">Trip</a>
		</div>

		<h2>Title of the post</h2>

		<div class="info_line">
			<span class="date">5 February 2015</span>
			<span>by</span>
			<span class="author">
				<a href="#" rel="author"> Anonymous</a>
			</span>
			<span>in</span>
			<span class="category_name">
				<a href="#" rel="category_name"> Trip</a>
			</span>
		</div>
		
		<div class="content">
			<p>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut</p>
		</div>

		<div class="btns">
			<a href="" class="more">MORE</a>
			<a href="" class="share">SHARE</a>
		</div>

	</div>

	<div class="post">
		
		<img src="imgs/bank.jpg" alt="Cans">

		<div class="category">
			<a href="#" class="objects">Objects</a>
		</div>

		<h2>Title of the post</h2>

		<div class="info_line">
			<span class="date">8 February 2015</span>
			<span>by</span>
			<span class="author">
				<a href="#" rel="author"> Anonymous</a>
			</span>
			<span>in</span>
			<span class="category_name">
				<a href="#" rel="category_name"> Objects</a>
			</span>
		</div>
		
		<div class="content">
			<p>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut</p>
		</div>

		<div class="btns">
			<a href="" class="more">MORE</a>
			<a href="" class="share">SHARE</a>
		</div>

	</div>

	<div class="post">
		
		<img src="imgs/6.jpg" alt="Objects">

		<div class="category">
			<a href="#" class="trip">Trip</a>
		</div>

		<h2>Title of the post</h2>

		<div class="info_line">
			<span class="date">13 February 2015</span>
			<span>by</span>
			<span class="author">
				<a href="#" rel="author"> Anonymous</a>
			</span>
			<span>in</span>
			<span class="category_name">
				<a href="#" rel="category_name"> Trip</a>
			</span>
		</div>
		
		<div class="content">
			<p>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut</p>
		</div>

		<div class="btns">
			<a href="" class="more">MORE</a>
			<a href="" class="share">SHARE</a>
		</div>

	</div>

	<div class="post">
		
		<img src="imgs/man.jpg" alt="Man">

		<div class="category">
			<a href="#" class="jobs">Jobs</a>
		</div>

		<h2>Title of the post</h2>

		<div class="info_line">
			<span class="date">17 February 2015</span>
			<span>by</span>
			<span class="author">
				<a href="#" rel="author"> Anonymous</a>
			</span>
			<span>in</span>
			<span class="category_name">
				<a href="#" rel="category_name"> Jobs</a>
			</span>
		</div>
		
		<div class="content">
			<p>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut</p>
		</div>

		<div class="btns">
			<a href="" class="more">MORE</a>
			<a href="" class="share">SHARE</a>
		</div>

	</div>

	<div class="post">
		
		<img src="imgs/picjumbo.jpg" alt="Broken Phone">

		<div class="category">
			<a href="#" class="jobs">Jobs</a>
		</div>

		<h2>Title of the post</h2>

		<div class="info_line">
			<span class="date">23 February 2015</span>
			<span>by</span>
			<span class="author">
				<a href="#" rel="author"> Anonymous</a>
			</span>
			<span>in</span>
			<span class="category_name">
				<a href="#" rel="category_name"> Jobs</a>
			</span>
		</div>
		
		<div class="content">
			<p>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut</p>
		</div>

		<div class="btns">
			<a href="" class="more">MORE</a>
			<a href="" class="share">SHARE</a>
		</div>

	</div>
</main>
<footer>
	<div class="pagination">
		<ul>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">more</a></li>
		</ul>
	</div>
	<div class="sign">
			<p>© WMDD 4935 • Server-Side Scripting. Created by Livia Bandeira and developed by Joao Coelho. All rights reserved.</p>			
	</div>
</footer>	
</body>
</html>
